[2016-12-30 20:01] aesopwolf opened #3 "Window resize"
This is great! Thank you so much for this.

I noticed that when the browser window is resized it causes the canvas to stretch/shrink which causes the confetti particles to look pretty ugly. I solved it in user-land using the code below. But I was wondering if this wouldn't better be solved by the library itself?

I wouldn't mind opening a PR, I just wanted to get your input first before I work on

[2017-01-03 21:31] timkendall commented on #3
Could this be a solve? https://github.com/mattdesl/canvas-fit

[2017-01-04 19:19] alampros commented on #3
@aesopwolf Glad you're getting some use out of it and thanks for the suggestion!

In the interest of keeping the component simple, I think it might be best to keep all the dimension operations external.

I actually *just* solved this same problem in another project using [react-dimensions](https://github.com/digidem/react-dimensions). Very helpful little util.

[code]

[2017-01-04 19:19] #3 closed

[2017-01-05 16:09] alampros opened #4 "Demo broken on mobile safari"

[2017-01-05 21:24] #4 closed

[2017-01-12 16:09] alampros opened #6 "TypeError: this.confetti.numberOfPieces is not a function"

[2017-01-12 16:11] #6 closed

[2017-02-20 20:56] suzyng83209 opened #7 "Confetti looks too thin on mobile (confetti shape based on window height, width)"
Individual confetti pieces are dependent on the window's width/height. This makes it look skewed on mobile or when the window is pulled into different aspect ratios.
![capture](https://cloud.githubusercontent.com/assets/22352112/23141425/9cee9444-f76b-11e6-924d-c0a8ea3db40f.PNG)
Confetti pieces should optimally be rendered independent of the size/aspect ratio of the canvas?

[2017-02-21 07:30] adrianmcli commented on #3
I think this should be in the README.md

[2017-02-23 14:10] alampros commented on #3
@adrianmcli good idea. Feel free to open a PR 😉

[2017-02-23 14:11] alampros commented on #7
This is because you need to adjust the size props when the window is resized. See [this comment](https://github.com/alampros/react-confetti/issues/3#issuecomment-270460745) for a solution.

[2017-02-23 14:11] #7 closed

[2017-02-23 14:51] adrianmcli commented on #3
Done!

[2017-02-23 15:47] alampros commented on #3
Thanks @adrianmcli !

I just updated the demo to actually use the `react-dimensions` also.

[2017-05-04 19:52] ticky opened #9 "Update for React v15.5.x"
React v15.5.0 [deprecates access to `React.PropTypes`, in favour of a separate `prop-types` package](https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html). `react-confetti` thus needs an update to not generate this warning in this (and future) versions of React!

[2017-05-04 20:04] #9 closed

[2017-05-11 00:08] matyus opened #11 "allow a `className` propType to pass-through directly to the canvas element"
It would be nice if I could do this:

[code]
so that the rendered DOM element ends up like this:

[code]

(I'm happy to submit a PR if you're open to it.)

[2017-05-11 00:14] matyus opened #12 "import { Confetti as FooConfetti } from "react-confetti""
It would be nice if I could alias the component name on import:

[code]

The reason is that I'd like to wrap this component in my own proprietary component, called `Confetti`, but I obviously can't `import Confetti` in a class that I've also named `Confetti`.

This is the error I get:
<img width="683" alt="screen shot 2017-05-10 at 8 12 27 pm" src="https://cloud.githubusercontent.com/assets/121402

[2017-05-11 00:18] alampros commented on #12
You don't need to change anything for this to work. You just use whatever local variable name you want and the default export gets assigned to it.

[code]

Should work just fine.

[2017-05-11 00:18] #12 closed

[2017-05-15 02:12] joevo2 opened #13 "How to disable black bar on top"
When over scroll up i can see the top black bar, how can i disable it or set it transparent?

![Image](http://i.imgur.com/IxngfOQ.jpg)

[2017-05-19 13:33] alampros commented on #11
Oops - good call! It should definitely pass props through. I'm definitely open to a PR. Thanks!

[2017-05-19 13:45] #11 closed

[2017-05-19 15:42] alampros commented on #13
I think this is caused by sub-pixel sizing (if the canvas' dimensions are set to a non-integer). I'll check it out.

[2017-05-19 17:19] alampros commented on #13
@joevo2 - I just published `v2.0.0-beta1` to npm. You can test it by installing the `beta` `dist-tag`:

[code]

[2017-05-22 05:50] joevo2 commented on #13
The black bar is gone but the width and height doesnt seems to be working. Even if i put in width=100% it doesnt work
![Screenshot](http://i.imgur.com/dgdgMUf.png)

[2017-05-22 05:54] joevo2 commented on #13
I think the issues start from 1.1.5 in 1.1.4 is still ok

[2017-05-30 13:05] alampros commented on #13
@joevo2 I think this is because the `width` and `height` props are now required. See the [demo example](https://github.com/alampros/react-confetti/blob/v2.0.0-beta1/src/docs.jsx) for how to provide it with a HOC.

Let me know if that doesn't solve the issue.

[2017-05-30 13:43] alampros commented on #13
@joevo2 I've updated the [docs](https://github.com/alampros/react-confetti/blob/develop/README.md) to reflect this

[2017-05-31 03:22] joevo2 commented on #13
Awesome 👏 it works perfectly now. The example in the readme might be a bit Intimidating for beginner 😊

[2017-06-19 17:41] gragland opened #16 "Requires Object.assign polyfill for IE11"
Should probably add babel-plugin-transform-object-assign to .babelrc. Happy to do a pull request for this if it's something you'd want to merge.

[2017-06-22 23:23] arronhunt opened #17 "[Request] Start / Stop controls"
Hey there,

For my particular needs, I'm trying to find a script that will only drop confetti for ~5 seconds and then stop generating new particles. It would be awesome to have a trigger to start and stop the effect.

[2017-06-22 23:28] alampros commented on #16
Browser support should be handled at a higher level (your project) than this component.

Thanks for mentioning this tho!

[2017-06-22 23:28] alampros commented on #16
Browser support should be handled at a higher level (your project) than this component.

Thanks for mentioning this tho!

[2017-06-22 23:30] alampros commented on #17
Great idea - thanks! Could be controlled by a `run` prop.

[2017-07-14 16:34] #16 closed

[2017-09-07 16:26] #17 closed

[2017-09-07 16:40] alampros opened #21 "Refactor to better suit react lifecycle"
Managing the state differences between the weird prototypal model inherited from the original source and the react component is getting absurd.

[2017-09-07 16:44] alampros commented on #17
I still need to document this, but you now (as of v2.0.0) have two options for controlling the run state:
1. **Using the `run` prop**: this will stop the render loop and freeze the confetti in place.
2. **Set `numberOfPieces` to `0`**: this will stop generating new confetti pieces and let the existing ones fall.

Hope this addresses your needs!

[2017-09-09 15:23] mschipperheyn opened #22 "react-dom-confetti is putting some style properties that react doesn't like"
I get

Uncaught (in promise) Error: The `style` prop expects a mapping from style properties to values, not a string. For example, style={{marginRight: spacing + 'em'}} when using JSX. This DOM node was rendered by `MyConfetti`.

when I load this up. React 15.6.1

[2017-09-09 17:45] mschipperheyn commented on #22
Oops, wrong confetti

[2017-09-09 17:45] #22 closed

[2017-09-13 08:11] #13 closed

[2017-09-20 20:40] jezhou opened #23 "Recycle doesn't work?"
Can't seem to get `recycle` to work. Flipping the flag to `false` perpetuates the animation loop when I believe it should stop after a certain amount of time.

Am I misunderstanding what the flag is for?

[2017-09-20 20:48] alampros commented on #23
Yeah that may have been a casualty/regression of the last release (probably [this](https://github.com/alampros/react-confetti/blob/develop/src/confetti.js#L130)).

[2017-09-20 20:59] #23 closed

[2017-09-20 21:02] alampros commented on #23
Fixed and released in `v2.0.1`

[2017-09-20 21:26] jezhou commented on #23
@alampros thanks for the quick response!

[2017-10-17 05:48] liorbrauer opened #24 "Support for React 16"
Can the package be updated to support React 16? From a quick glance at the source code it seems to it should be compatible with no issues.

Thanks!

[2017-12-04 21:39] #24 closed

[2018-02-02 05:22] thierryc opened #26 "Gthibaud Confetti link"
The link is :

https://codepen.io/Gthibaud/pen/ENzXbp

[2018-02-02 13:05] #26 closed

[2018-02-02 13:05] alampros commented on #26
Thanks!

[2018-02-02 13:07] thierryc commented on #26
Your welcome.

Thank you for your babel-plugin-react-sketchapp-svg too.

[2018-02-02 13:09] alampros commented on #26
You again! 🤣

I swear, the internet is getting smaller every day.

[2018-03-09 22:44] ragesoss opened #27 "width and height should default to full window size"
This is a delightful component! I put it into my app for an impromptu celebration of my team hitting a milestone. :-)

I think it would be more useful it it defaulted to the full size of the window/browser, so that it can be tossed into an app without any config and provide confetti over the whole page.

`window.innerWidth` and `window.innerHeight` will probably work just fine.

[2018-03-09 22:46] ragesoss opened #28 "Feature idea: a text banner"
Just tossing this out as an idea: this component would be even cooler if you could provide a text prop, and it would show that text on some kind of banner that falls along with the confetti, so you can easily use it to celebrate specific things.

[2018-03-09 22:54] ragesoss commented on #28
Here's the sort of thing I had in mind (only falling like the confetti, maybe?): https://codepen.io/danwilson/pen/PQddxe

[2018-03-12 12:00] alampros commented on #28
Hah! That is awesome! I'd welcome a PR if you can do that banner in the canvas API.

[2018-05-07 18:54] alampros commented on #26
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-confetti)
- [GitHub release](https://github.com/alampros/react-confetti/releases/tag/v2.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-27 14:45] #27 closed

[2019-02-28 18:59] alampros opened #31 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-02-28 19:06] alampros commented on #27
:tada: This issue has been resolved in version 2.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-confetti)
- [GitHub release](https://github.com/alampros/react-confetti/releases/tag/v2.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-28 19:06] #31 closed

[2019-03-07 03:14] kennym opened #32 "Porting to React Native?"
Are there plans to port this to React Native? If yes, is there a WIP? I'd like to help with that.

[2019-03-08 15:56] #21 closed

[2019-03-08 15:57] alampros commented on #32
I have very little experience with RN, but I'd definitely take a PR!

[2019-03-13 19:19] okcoker commented on #32
@kennym What exactly does RN need for this to work? A [separate canvas implementation](https://stackoverflow.com/questions/39972962/equivalent-of-canvas-in-react-native)? Maybe https://github.com/alampros/react-confetti/pull/36 would help in the meantime.

I'm personally using this in a chromecast app. The performance is pretty bad with just a 100 particles but that's another story. May have to lo

[2019-03-18 12:54] AndreasNasman opened #41 "Implementing in Typescript project"
Hi!

I'm having problem including the confetti in my project built with [create-react-app](https://github.com/facebook/create-react-app) using the `--typescript` flag. For some reason all props seem to be mandatory, since the defaults aren't taking into consideration. Am I including it correctly, or is Typescript not supported?

![image](https://user-images.githubusercontent.com/17124245/54531382-

[2019-03-18 20:26] alampros commented on #41
Yikes! Sorry you're running into that. I'll take a look.

[2019-03-18 21:12] alampros commented on #41
I've tested this locally with [v2.7.0](https://github.com/alampros/react-confetti/releases/tag/v2.7.0) and it's behaving much better.

Please re-open if you're still having trouble.

[2019-03-18 21:12] #41 closed

[2019-03-18 21:14] alampros opened #44 "Replace the demo gif in the readme"

[2019-03-18 23:02] #44 closed

[2019-03-20 10:26] AndreasNasman commented on #41
Thanks for the fix!

Is the idea that the package should work fully without installing a separate [@types ](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/) package or making a module declaration file? This isn't the case now, since it has an implicit _any_ type.
![image](https://user-images.githubusercontent.com/17124245/54677291-3eb0ac00-4b0b-11e9-9158-0d1d17bc2ee4.png)
![i

[2019-03-20 10:34] AndreasNasman opened #45 "Implicit 'any' type"
Thanks for the fix!

Is the idea that the package should work fully without installing a separate [@types ](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/) package or making a module declaration file? This isn't the case now, since it has an implicit _any_ type.

![image](https://user-images.githubusercontent.com/17124245/54677291-3eb0ac00-4b0b-11e9-9158-0d1d17bc2ee4.png)
![

[2019-03-20 13:31] AndreasNasman opened #46 "Confetti not filling width"
Not sure if this problem is caused by React, hooks, event listeners, or something else, but I'll mention it here for starters 🙂.

When defining a height and a width with `useState`, updating them with e.g. a resize event listener, and declaring the confetti-component with those state values as the **height** and **width** props, it seems like the spread of the confetti is bound to the previous wid

[2019-03-20 14:36] AndreasNasman opened #47 "Mobile performance worsens after multiple conditional renders"
In my score tracking application where I've implemented the confetti rain I have it conditionally shown or hidden whether there is a winner or not. The winner can conditionally change on undo/redo or when a new game is started/completed.

![image](https://user-images.githubusercontent.com/17124245/54692512-cdcebb80-4b2d-11e9-8698-a60ffe48f69e.png)

What I've noticed is that the performance of the

[2019-04-02 17:22] alampros commented on #45
I think this is a regression from 3c3184c3e1fefff59f370eaaa16c887f48efe782.

I'll try to revert it and see if that helps.

[2019-04-02 17:52] alampros commented on #44
:tada: This issue has been resolved in version 2.7.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-confetti)
- [GitHub release](https://github.com/alampros/react-confetti/releases/tag/v2.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-02 17:57] alampros commented on #45
@AndreasNasman - Can you try `v2.7.1` and see if it did the trick?

[2019-04-02 19:17] alampros commented on #46
I *think* by the looks of it that this is behaving as it should - the `confettiSource` Rect defaults to the width and height props, so no confetti is spawned yet in the empty areas in your screenshots. You could try passing in a custom `confettiSource` that would cover the width of your biggest dimensions.

If you let it run for a while, do they eventually start spawning into the empty areas?

[2019-04-02 19:46] alampros commented on #47
Yup - looks like there's a memory leak. Let me see if I can replicate it locally.

[2019-04-02 20:25] alampros commented on #47
:tada: This issue has been resolved in version 2.7.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-confetti)
- [GitHub release](https://github.com/alampros/react-confetti/releases/tag/v2.7.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-02 20:27] #45 closed

[2019-04-03 13:11] AndreasNasman commented on #45
Works in 2.7.2 👍

[2019-04-03 13:12] AndreasNasman commented on #47
Problem still occurs in 2.7.2. Tested with Chrome's _mobile_ browser.

[2019-04-03 13:18] AndreasNasman commented on #46
No, they area stays the same.

Thanks, that fixes my problem! 😊

[2019-04-03 21:16] alampros commented on #46
Glad to hear!

[2019-04-03 21:16] #46 closed

[2019-04-03 22:45] alampros commented on #47
😫

I have another idea that might be of help - I’ll try adding a `destroy` method to stop the requestAnimationFrame loop before unmount.

[2019-04-03 23:24] alampros commented on #47
:tada: This issue has been resolved in version 2.7.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-confetti)
- [GitHub release](https://github.com/alampros/react-confetti/releases/tag/v2.7.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-04 00:57] alampros commented on #47
@AndreasNasman - let me know if this actually fixed it.

[2019-04-17 15:41] alampros commented on #47
Closing this for now. Let me know if this is still an issue in `>2.7.3`.

[2019-04-17 15:41] #47 closed

[2019-07-03 08:24] Mesoptier opened #56 "Laser show glitchy rendering"
In the latest Chrome version (`Version 75.0.3770.100 (Official Build) (64-bit)`) the confetti started glitching: https://youtu.be/CXxU2OQEzZg.

Now, we've been calling it a feature ("laser show!") not a bug, but still.

It works fine in other browsers.

[2019-07-03 19:33] VisheshSingh commented on #56
I am on the same version of Chrome as yours. I haven't noticed this today.

[2019-07-05 12:53] alampros commented on #56
☝️ 🤣

Sorry to hear it was freakin out on you. I'm running that same version of chrome (mac) and I'm not seeing it. What OS are you on? Do you see it happening on the [storybook demo pages](https://alampros.github.io/react-confetti/)?

[2019-07-05 13:00] alampros commented on #56
Just tested on windows and not seeing it either. That is super odd.

[2019-07-05 13:02] Mesoptier commented on #56
We're running on Ubuntu. But I don't see it happening in the storybook, so it's probably something on our end. I'll try to reproduce it outside our product and get back to you.

[2019-07-05 13:42] alampros commented on #56
FYI, I just published a new version ([v3.1.1](https://github.com/alampros/react-confetti/releases/tag/v3.1.1)) with a ton of dependency updates which *might* effect this issue.

[2019-07-05 13:59] Mesoptier commented on #56
Yeaaaah, we were running `v2.0.0-beta1`. :sweat_smile:
I had just assumed we were running the latest version, it works fine after upgrading. I did see another "laser beam" again once or twice in `v3.1.0`, but they're exceedingly rare now (as in, I haven't been able to record one). Anyway, it's fixed now (already in `v3.1.0` btw), thanks!

[2019-07-05 14:03] alampros commented on #56
Glad to hear!

Although, I might have to add a new "laser show" feature now...

[2019-07-12 13:24] Katli95 opened #60 "Weird flickering when not recycling"
Hey man, love the Component!

I am however experiencing small problems when I switch recycling off, the confetti flickers after recycling is set to false :/ I tried getting a vid of it but my screen recorder (PowerPoint) didn't pick it up. Any ideas?

### Code
[code]
### Env. Info
|System|Version|
|---|---|
|`react` & `react-dom`|16.7.0|
|`react-confetti`|v3.1.2|
|Chrome|Version 75.0.3770.100 (Off

[2019-07-15 01:38] alampros commented on #60
Sorry to hear - sadly I don't have a windows machine to test on. Does it flicker when you toggle the recycle flag using the knobs on the [demo site](https://alampros.github.io/react-confetti/)?

[2019-07-15 09:22] Katli95 commented on #60
Yeah they do :/ oddly enough. They also seem to be spinning faster once I've disabled the recycling, not sure if it is related but they most definitely do flicker a bit, not all of them mind you but enough of them to make it noticeable.

[2019-07-31 14:09] VisheshSingh opened #61 "Glitch like laser with v2.4.1 only on Chrome browser"
Hi,

I am experiencing a glitchy behavior [for v2.4.1] only on the Chrome browser, wherein I see kind of a laser show. The reason why I am using v2.4.1 is that I am using React v15 which does not support createRefs or forward Refs. I am aware that the latest version of react-confetti has taken care of this but I am wondering if there is any patch for the issue I am facing.

Thanks

[2019-08-05 21:00] alan97 opened #63 "Confetti now become the target of pointer events"
In react-confetti 2.4.1 we apply `pointer-events: none` to the confetti (https://github.com/alampros/react-confetti/blob/v2.4.1/src/react-confetti.js#L105) but we don't do it anymore since 2.5.0 (https://github.com/alampros/react-confetti/blob/v2.5.0/src/ReactConfetti.tsx#L32). This has caused a production issue where things beneath the confetti is not clickable.

Is this an intentional change? Do

[2019-08-06 11:15] alampros commented on #61
What browser version and OS are you on?

[2019-08-06 11:21] alampros commented on #63
Oh no! Sorry to hear this caused you some troubles. It was not an intentional change – probably an accidental commit when I was working on the [mouse rain demo](https://alampros.github.io/react-confetti/?path=/story/props-demos--mouse-rain).

[2019-08-06 11:35] #63 closed

[2019-08-06 12:28] alampros commented on #63
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-confetti)
- [GitHub release](https://github.com/alampros/react-confetti/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-06 19:43] VisheshSingh commented on #61
I am using Windows 10 and Chrome: Version 75.0.3770.142 (Official Build) (64-bit)

[2019-08-08 15:37] JoshuaKGoldberg opened #65 "Props for ReactConfetti require $$typeof"
Here are the contents of `ReactConfetti.d.ts`:

[code]

Because `Props` includes `& NamedExoticComponent`, this code:

[code]

...gives this TypeScript complaint:

[code]

😭.

[2019-08-09 02:20] #65 closed

[2019-08-09 02:21] alampros commented on #65
Doh! I'll push a fix soon. Sorry!

[2019-08-09 02:28] alampros commented on #65
:tada: This issue has been resolved in version 4.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-confetti)
- [GitHub release](https://github.com/alampros/react-confetti/releases/tag/v4.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-12 12:16] alampros commented on #61
I'm going to close this as you are on a really old version. Please feel free to fork it and modify your own version to support older react versions.

[2019-08-12 12:16] #61 closed

[2019-08-15 23:57] sankho opened #67 "when using drawShape, you can't use more than one image without flickering"
I tried to randomize which shapes appear when calling `drawShape` but if I use any randomness it'll redraw which image I chose from the start.

Would be nicer I think if you can add `ParticleShape` values and have callbacks attached to that, or adjust the `this` context to also include a numeric ID (I tried tracking using `this` as a key value in a dictionary and that didn't work either)

[2019-08-26 13:03] #28 closed

[2019-09-08 11:40] gaagai opened #69 "componentWillReceiveProps has been renamed - Warning"
???

[2019-09-19 11:26] #60 closed

[2019-09-25 14:02] #32 closed

[2019-09-26 04:59] AlexLerman commented on #67
Hey @sankho I think I may have found a solution to your problem.

Inside your component, `this` is getting overwritten, so it's not tracking with the individual particles.

Pull your drawShape function out of the component context and now `this` will refer to the same context as the particle. Then you can reassign variables or generate new ones:

[code]

the newRan variable makes sure it's not rea

[2019-10-06 01:33] wheeler commented on #69
@gaagai you are seeing this warning because you are using React 16.9 or higher which has warnings about lifecycle methods that are deprecated. This package uses one of those lifecycle methods.

https://reactjs.org/blog/2019/08/08/react-v16.9.0.html#renaming-unsafe-lifecycle-methods

I've created PR #70 to resolve.

[2019-10-07 11:52] vojtatranta opened #71 "Confetti flickering"
Hi!
Thank you for your great package! We have been using it for quite some time and it worked well until recently.

Unfortunately, I can't say when it broke but if you check out the video below confetti behaves strangely.

Any clue why is that?

Video: https://imgur.com/6QvV0ie

Thanks!

[2019-10-18 16:14] pcowgill opened #72 "canvasRef type required"
When using [the example from the `README`](https://github.com/alampros/react-confetti#use), a CRA app using TypeScript shows the following error:
[code]

[2019-10-18 17:39] alampros commented on #69
Resolve by #70 - thanks @wheeler !

[2019-10-18 17:39] #69 closed

[2019-10-18 17:42] #67 closed

[2019-10-18 17:48] alampros commented on #71
Thanks for submitting this video - I haven't been able to reproduce this, so I haven't actually seen this bug in action.

I'm going to close this as a duplicate of #56 so I can track it on one issue.

Could you please provide some environment information to help narrow it down (OS, browser version, etc) over on #56 ?

Thank you!

[2019-10-18 17:48] #71 closed

[2019-10-18 17:50] alampros commented on #56
@jesspoemape - can you tell me a bit about where it *does* happen? What kind of app? How are you providing the dimensions to the component?

[2019-10-18 19:48] wheeler opened #73 "5.0.0 Warning: ReactConfetti: getSnapshotBeforeUpdate() should be used with componentDidUpdate()."
😞 Well looks like I didn't test enough. When using 5.0.0 in my project I get...

`Warning: ReactConfetti: getSnapshotBeforeUpdate() should be used with componentDidUpdate(). This component defines getSnapshotBeforeUpdate() only.`

I can look in to fixing (probably just changing the functionality from `getSnapshotBeforeUpdate` to `componentDidUpdate`).

@alampros FYI. It's only a warning so probabl

[2019-10-18 20:36] #72 closed

[2019-10-18 20:36] #73 closed

[2019-10-18 20:38] alampros commented on #73
I don't think it even needs a snapshot. We're just shipping the changed confetti options to the internal confetti class and that isn't very taxing.

[2019-10-18 20:44] alampros commented on #72
:tada: This issue has been resolved in version 5.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-confetti)
- [GitHub release](https://github.com/alampros/react-confetti/releases/tag/v5.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-18 20:44] alampros commented on #73
:tada: This issue has been resolved in version 5.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-confetti)
- [GitHub release](https://github.com/alampros/react-confetti/releases/tag/v5.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-18 20:45] pcowgill commented on #72
@alampros Thanks for the quick fix!

[2019-10-18 21:45] wheeler commented on #73
Nice.

[2019-10-23 11:38] jnnkB opened #74 "Resizing during render"
This library really works and looks great!

Unfortunately it does not resize while the confetti is rendered.
<img width="1197" alt="screenshot" src="https://user-images.githubusercontent.com/29376715/67389089-2cfc1f00-f59a-11e9-853c-faa81faa9155.png"> Here I enlarged the window after loading the page. You can see that the confetti is only rendered on the left side.

Is there a way to get that to w

[2019-11-01 14:24] alampros commented on #74
Thanks, @jnnkB !

The size props (`width` and `height`) are left up to you to manage. [The docs](https://github.com/alampros/react-confetti#use) have instructions and there are [many](https://github.com/streamich/react-use/blob/master/docs/useWindowSize.md), [many](https://github.com/rehooks/component-size), [other libraries](https://github.com/FezVrasta/react-resize-aware) to manage element/windo

[2019-11-01 14:24] #74 closed

[2019-11-01 16:04] jnnkB commented on #74
I already used react-window-size to manage them my self. But even though this works when the confetti is not visible, it seem not to render particles outside the former visible  area, when resized after the first particles showed up. You can see the problem in the following gif. I use the code from [the docs](https://github.com/alampros/react-confetti#use) and only added `recycle={false}`.
![out](

[2019-11-01 19:40] EWamsley opened #75 "Module has no default export"
When I try to build my react project I get the following error:

[code]

When I remove the ReactConfetti.d.ts file from the `node_modules/react_confetti` directory the error goes away and I can use the `<Confetti>` react tag normally. However this isn't really a workable solution since everytime someone else downloads the project and installs the npm packages they will manually have to go in and r

[2019-11-12 18:46] mheisig opened #76 "Error: Super expression must either be null or a function"
I'm having the same issue someone else reported here: [Stackoverflow](https://stackoverflow.com/questions/58823451/react-confetti-super-expression-must-either-be-null-or-a-function)

This is in a Next.js project and there are no problems when running in local development. This only happens when the production build is created so I'm not sure if something in the minification process is causing the

[2019-11-12 18:47] florianmartens commented on #76
Same issue here. Thank you for opening up the issue.

[2019-11-15 02:10] alampros commented on #76
Thanks for reporting this issue! I'll take a look at it tomorrow.

[2019-11-17 22:11] cjmyles commented on #76
@alampros any luck with this?

[2019-11-21 21:47] svechinsky commented on #76
The same issue with me, the downgrading solution worked.

[2019-11-25 02:27] cjmyles commented on #76
@svechinsky Can you paste your code - I'm struggling to determine what props are allowed on that version of Confetti. Ideally the latest version would work in production.

[2019-11-27 11:45] svechinsky commented on #76
Here is what I had
[code]
At least as of 6 days ago this didn't work in production with the latest version but did work locally. Downgrading fixed the production issue.

[2019-11-28 05:09] cjmyles commented on #76
@svechinsky I'm using Typescript so it files on compilation, as apparently I need a `canvasRef` property.

[2019-11-28 05:10] cjmyles commented on #76
@alampros Would be amazing if you could fix the issue with the latest version in production.

[2019-11-29 05:12] stolinski commented on #76
I'm also hitting this same error in production.  `0.5.1`. Downgraded to 0.4.1 fixe the issue.

[2019-12-08 03:47] roelvan commented on #76
Same here, downgrading to `4.0.1` does the trick for now.

[2019-12-15 13:50] #56 closed

[2019-12-15 21:14] #75 closed

[2020-01-07 12:39] Mesoptier commented on #76
This is still an issue for me. I'm trying to figure out a fix. Some notes:
- The issue only occurs if I do a Webpack build of my application with `--mode=production` and the devtool option disabled. It does not occur if I run with `--mode=development` or with devtool option enabled (possibly only if set to an "*-eval" value).
- The issue does not occur when I explicitly import the unminified versi

[2020-01-07 13:23] Mesoptier commented on #76
I have cloned this project's repository and ran the `build` myself. Now I have the `react-confetti.min.js`  (red in diff) that was installed before using `yarn add react-confetti` in my application and the `react-confetti.min.js` (green in diff) that I just built. I ran prettier on both files to get a cleaner diff. I then diffed the files and got the following result:

[code]

As you can see there

[2020-01-07 13:25] Mesoptier commented on #76
@alampros It seems that something has gone wrong in the build process when the `5.0.1` version was published to npm. When I run the `build` command in the react-confetti repository on my machine it produces a different minified script than the one that is provided when installing the package.

Perhaps a solution is to simply try publishing the package again? Making sure that the correct minified f

[2020-02-06 14:26] Mesoptier commented on #76
Yeah, this is still relevant!

@alampros Could you look into what I posted above?

[2020-02-13 22:01] rkuykendall commented on #76
@alampros Are you even here or do we need to fork this?

[2020-03-15 01:28] rkuykendall commented on #76
Good point stale bot. Forked the project here, overhauled the build/publication process and actively accepting PRs:

https://github.com/rkuykendall/confetti-react

[2020-04-24 07:11] magician11 commented on #27
I noticed that if I had scrolled way down a page, and activated the confetti run, I may not see it.

So for those wanting confetti to run down the entire document (including scrolling to the bottom) this works

`<Confetti height={document.body.scrollHeight} />`

[2020-04-28 04:24] #76 closed

[2020-09-07 11:17] VictorBaudot opened #92 "Stop after x seconds"
How to make it run during x seconds?

[2020-09-29 06:15] coderinblack08 commented on #92
Use `useState` and set a variable, then in `useEffect` set a timeout. I'm pretty sure there isn't a built-in method that handles this.

[2020-10-22 00:43] cameronmoreau commented on #92
If you're using `react-use` (per the README example), [useTimeout](https://github.com/streamich/react-use/blob/master/docs/useTimeout.md) will do the trick 🎉

[code]

[2020-10-22 04:55] coderinblack08 commented on #92
@cameronmoreau Sounds Great

[2020-11-10 15:45] #92 closed

[2020-11-18 09:57] Rabter1 opened #95 "Confetti lagging heavily on iOS device"
I am using react-confetti inside of the Ionic-Framework.
It worked just fine since i noticed today, that the animation is lagging heavily on Iphone 11.
(Low FPS --> slow motion falling)
CPU is chillin at arround 4%

I am using version: "react-confetti": "^6.0.0",

I do not remember updating any packages in my project. Thats why i believe the issue could be associated with iOS version...
Currently

[2020-11-18 12:40] Rabter1 commented on #95
Update:
I updated the iOS to 14.2 and the issue remains.

I also visited the Demo of this plugin with my phone: https://alampros.github.io/react-confetti
It is also lagging which indicates, that its not my application which causes the issue.

It looks like its an issue in combination with iOS devices maybe since iOS 14
To confirm,  i visited the mentioned demo with my old Ipad mini 2 -- iOS 12.4.5

[2020-11-18 13:01] Rabter1 commented on #95
Update:
Okay never mind.
I asked a friend to confirm this for me on his iOS device.
He didnt experience this issue so it was sure its just my device...

After experimenting i noticed that i had energy saving mode activated.

After disabling energy saving mode the issue is gone. iOS seems to limit the frames per second when this mode is activated
Totally my fault.

This issue can be closed:
But sti

[2020-12-15 17:35] #95 closed

[2020-12-15 17:39] alampros commented on #95
Sorry to hear it was slow. Unfortunately, there's not much to be done about this. Since the frame rate is based on the [requestAnimationFrame](https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame) API, it is working as expected.

[2020-12-21 23:37] plnii opened #98 "Cannot use react-confetti in React Native after installation - invariant violation"
Adding <Confetti /> to a screen prompts this error. No workaround available. Any thoughts?

Invariant Violation: View config getter callback for component `canvas` must be a function (received `undefined`). Make sure to start component names with a capital letter.

[2020-12-31 10:23] lokeshozloits commented on #98
I am also facing same issue when using in react native

Invariant Violation: View config getter callback for component `canvas` must be a function (received `undefined`). Make sure to start component names with a capital letter.

[2021-01-26 13:03] ben4d85 opened #99 "React 17 Support"
Please can this be updated to support React 17?

[2021-01-26 16:19] alampros commented on #99
You are welcome to submit a pull request. How exactly does it not support 17?

[2021-01-28 10:13] ben4d85 commented on #99
Create a new React app using CRA.
Try to install this package.
You'll get an error due to a dependency on React < 17.

[2021-02-13 12:12] #98 closed

[2021-02-22 16:12] #99 closed

[2021-02-22 18:37] alampros opened #102 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-02-22 19:11] #102 closed

[2021-04-08 13:35] Demonbruster opened #105 "[Violation] Forced reflow while executing JavaScript"
when I try deal with responsive size it throw the violation
![image](https://user-images.githubusercontent.com/48148796/114036052-94f90080-9834-11eb-9583-f18e724caf9f.png)

[2021-04-15 08:53] Demonbruster commented on #105
found the solution

[2021-04-15 08:53] #105 closed

[2021-06-29 14:32] addamove commented on #92
I'm thinking we need to add this to doc. I found similar struggle

[2021-07-16 14:36] FaizanMostafa opened #114 "Feature Request; Add prop(boolean) to control whether show confetti animation on first render"
Hi there, thanks for this wonderful package. I came across this scenario where I don't want to show the play the confetti animation on Confetti's first render. I want to play the confetti animation only when user presses a specific button on the webpage. So far I am unable to achieve this functionality. I am using the following code!

**ConfettiComponent.js**
[code]

**ProfilePage.js**
[code]

[2021-08-07 07:52] OG84 commented on #114
what about
[code]

[2021-08-09 10:45] slowSort opened #117 "Speed of confetti depends on monitor."
Hi there, I've noticed an interesting behaviour with react-confetti, which I think may be a bug. Depending on the monitor I use, the confetti falls at a different speed. I think this is due to the refresh rate.

Regular macbook pro monitor:
https://user-images.githubusercontent.com/35369732/128694392-9bc86f13-67de-41aa-9f9c-8a7dd7b3a32e.mp4

Intehill 240HZ Monitor
https://user-images.githubusercon

[2021-08-30 18:33] alampros commented on #117
Thanks for the report!

That sounds about right, since we're relying on the `requestAnimationFrame` API to provide the timing. The RAF API is definitely the right tool for the job, but I don't believe it provides any means of throttling the frame rate. We'd have to build in a manual fps counter and logic – which I would gladly accept a PR for!

[2021-08-30 18:37] alampros commented on #114
Hi there - sorry for the horribly delayed response (new job). Either conditional rendering (like @OG84 mentioned above) or conditionally switching the `numberOfPieces` prop would work for your scenario. Take a look at the [party mode](https://alampros.github.io/react-confetti/?path=/story/props-demos--party) demo for how to do this.

[2021-08-30 18:37] #114 closed

[2021-09-02 01:19] timothyerwin commented on #117
@slowSort @alampros I'm seeing the same problem. It's really nice on desktop but speeds up too much on mobile...I think there are some methods for framerate around the web...

https://stackoverflow.com/questions/19764018/controlling-fps-with-requestanimationframe

[2021-09-02 01:19] timothyerwin commented on #117
@alampros maybe use above and add `framerate={}` property?

[2021-09-05 00:14] ImSolitude opened #120 "How can I run it once every time I click on a button?"
I'm just trying to implement this Logic:

I have a button, I want to run this confetti *every time* I click on the button for just once, Why is it hard to implement, been tying for 1 hour!

[2021-09-12 17:32] alampros commented on #120
I'm sorry you're frustrated with this free software I provided out of sheer altruism.

You can first try looking thru [the docs](https://alampros.github.io/react-confetti/?path=/story/props-demos--party)...or the [closed issues](https://github.com/alampros/react-confetti/issues/114#issuecomment-908588925).

[2021-09-12 17:32] #120 closed

[2021-11-11 14:22] CollinMonahanLab49 opened #122 "can the confetti be clipped to a parent container?"
something like,

[code]

I tried this and it seems to want to fill the screen. Maybe something around

Because this gets an initial render pass where width and height are zero.

[2021-11-11 14:31] CollinMonahanLab49 commented on #122
Seems to work with
[code]

[2021-11-11 14:31] #122 closed

[2021-11-16 03:18] atul161 opened #123 "Dialog - Material UI"
confetti is working correctly on different screen but does not work with dialog (Material UI). Automatically scroll bar comes when we use confetti.

[code]

Now in our component i have used like this
[code]

And my component is here
[code]

Ugly scroll bar comes automatically.
This is working fine with other components

[2021-11-17 16:03] alampros commented on #123
This is an issue with your usage of the parent container measurement and/or styling. Try adding `overflow:hidden` to the parent container CSS or capping height with `max-height: 100vh`.

[2021-11-17 16:03] #123 closed

[2022-03-02 11:01] kahoot-karl opened #127 "Crash on specific Chrome/Android versions"
It seems the confetti library throws on older versions of Chrome. This is from a sentry report:

Chrome version 71.0.3578
Android version 8.0.0
Device: Huawei FIG-LX3

[code]

[2022-03-31 13:12] allenchuang opened #128 "in my next.js app it doesn't get width / height on initial load"
following the example here:
[code]

the confetti is still showing the default width and height on initial load. (I'm using nextJS and attaching the <Confetti/> component at my index.js file.

<img width="431" alt="image" src="https://user-images.githubusercontent.com/4248780/161062774-4e0ee372-0309-447b-8baa-5fe166be518c.png">

[2022-04-04 16:16] jahirfiquitiva opened #129 "Exploding effect"
Hi

I am wondering if you could help me or guide me on how I can achieve an exploding effect similar to the one shown in [this StoryBook](https://ulitcos.github.io/react-canvas-confetti/playground/index.html?path=/story/realistic--realistic-story)

Thanks in advance!

[2022-04-16 14:32] #117 closed

[2022-04-19 15:09] AndrewNow commented on #128
Having the same issue on Next.js! Have you managed to find a fix?

[2022-04-19 15:27] AndrewNow commented on #128
I ended up using this package instead, which seemed to work better for me: https://www.npmjs.com/package/react-rewards

[2022-04-30 14:52] #127 closed

[2022-05-02 16:11] mahautlatinis opened #130 "Not taking full width and height"
Hello, sorry I am a noob. I am trying to generate confettis on a page where there is a canva. I am sending the height and width of the window but the confettis are not taking the full page. Do you have an issue of the issue ?

[2022-05-04 17:05] MattHalloran commented on #129
@jahirfiquitiva Did you ever figure this out? I would like to do the same thing.

[2022-05-04 17:56] alampros commented on #129
Sorry for the delayed response. Off the top of my head, I would start by trying to animate the `confettiSource` property. I would probably reach for [framer/motion](https://www.framer.com/motion/) or [react-spring](https://react-spring.io/) to handle the animation nicely.

Good luck!

[2022-05-04 17:56] #129 closed

[2022-05-04 17:57] alampros commented on #128
I'm not too familiar with Next.js, but I would try gating the initialization in a `useEffect` so it runs after the initial page load.

[2022-05-04 17:57] #128 closed

[2022-05-10 20:05] alisonqiu opened #131 "Doesn't support react@18.1.0"
I couldn't install because React is unable to resolve dependency tree as my current version of React is not supported. Can it be updated to be used on react@18.1.0?

full error:
`npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: wordle@0.1.0
npm ERR! Found: react@18.1.0
npm ERR! node_modules/react
npm ERR!   react@"^18.1.0" from the root

[2022-05-20 13:15] carolinapowers commented on #131
I'm dealing with the same issue ` ERROR  react-confetti@6.0.1 requires a peer of react@^16.3.0 || ^17.0.1 but version 18.1.0 was installed.` . Would really really appreciate if @alampros merged [#132](https://github.com/alampros/react-confetti/pull/132) since it's the only dependency we have left that hasn't upgraded yet and is keeping us from upgrading to React 18. Thank you!

[2022-05-20 14:07] #131 closed

[2022-05-20 14:46] github-actions[bot] opened #135 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2022-05-20 14:49] #135 closed

[2022-05-25 09:21] tmwlsh commented on #130
Im experiencing the same issue. When i resize the window, it goes to full width and height, but on first load the confetti just takes up a small column:

![image](https://user-images.githubusercontent.com/16941984/170228639-adcaccfe-0db5-4a1c-97be-d7644f6f2ed0.png)

[2022-06-14 16:17] davekiss commented on #128
Here's a little trick for Next applications:

[code]

[2022-07-13 06:11] alieldeba commented on #130
same here

[2022-07-26 13:03] NahanaBanahnah commented on #130
The initial value of the canvas width and height are getting set to "Infinity" and not changing until a resize. Setting a state to show the confetti once the page loads seems to work fine for me.

[code]

[2022-08-15 11:23] Abhinav1190P commented on #17
Still can't stop it, i mean it stops at one place, that's the problem, some help please, i'm using a settimeout to set run to false and numberofpieces to 0.

[2022-08-24 14:43] Hgray1109 commented on #130
After I rendered my Confetti component I just gave it a className. In CSS I then set the height and width to 100%. It now responds to my browser changes.

[2022-08-25 10:27] mmartindj commented on #130
Yo can use something like these:

[code]

[2022-08-31 14:28] popQA17 commented on #130
same here

[2022-09-04 14:35] annamourasobral opened #139 "Update dependency"
Hi, @alampros
I would like to use your feature in my React 18.2 project.
Could you do me this favor and make it compatible? :)

[2022-09-04 14:36] alampros commented on #139
I'd happily accept a PR.

[2022-09-29 15:59] mahiros-tech opened #141 "Not taking full height"
Hi, I am using Confetti, but it's not taking full height.
It uses innerHeight so it's only taking the viewport height from the top Y (=0).
The issue is that, when the page has the content exceeds the height and scroll appears.
And I scroll down to the bottom of the page, and I can not see the Confetti shapes.
How can I solve this? Thanks.

[2022-10-03 12:58] hichemfantar commented on #130
I'm getting this with next.js. I don't think is lib works properly with ssr.

[2022-10-31 12:34] asaadam commented on #130
if u guys using next-js
use dynamic import

[code]

It's solved my problem

[2022-11-01 11:24] Praneeth-Pike commented on #130
Thanks @asaadam Dynamic Import solved my issue too!

[2022-11-26 19:36] kkomelin commented on #141
Same here. When page is scrolled to the bottom, I don't see the confetti.